.information{
  width: 30%;
  background-color: #ffffff;
  height: 100vh;
}
.ArticleList{
  padding-top:50px;
  width: 70%;
  .ArticleList_Item{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    .ArticleList_Item__Title{
      font-size: 1.5rem;
      color: #cccccc;
      margin-bottom: .2rem;
      cursor: pointer;
      font-weight: 100;
      &:hover{
        color: #d66d74;
      }
    }
    .ArticleList_Item__Excerpt{
      font-size: .9rem;
      color: #999999;
      line-height: 1.7;
    }
    .ArticleList_Item__Date{
      margin-right:.5rem;
      font-size: .8rem;
      color: #c7c7c7;
    }
    .ArticleList_Item__Tags{
      margin:0 .5rem;
      font-size: .8rem;
      color: #c7c7c7;
    }
    .ArticleList_Item__ContinueReading{
      border: 1px solid #c0363f;
      border-radius: 20px;
      padding: 6px 8px;
      font-size: .8rem;
      margin-left: 10px;
      color: #c0363f;
      &:hover{
        color: #1890ff;
        cursor: pointer;
      }
    }
    .ArticleList_Item__divider{
      border-top: 0.5px solid #999999;
      width: 30%;
      float: left;
      margin: 2.2rem 0rem;
    }
    }
  }
