.Error{
  .Error_Images{
    background-image: url("http://www.images.nanbk.com/images/2020/03/25/256cca2195cec77eab531c8a32c560c9.png");
    width: 25rem;
    height: 20rem;
    margin: 10vh auto 0vh auto;
  }
  .Error_Bottom{
    margin: 2vh auto;
    display: block;
  }
}