.Comment{
  .Comment_Input{
    margin-bottom: 10px;
    overflow: hidden;
  }
  .Comment_Button{
    float: right;
    margin-bottom: 20px;
  }
}

//.Comment-DIV{
//  height: 2rem;
//}
//.Comment-Username{
//  font-size: 14px;
//  color: #555555;
//}